<div class="container">
    <h1>🎄 Lista de Tareas 🎄</h1>
    <form action="" class="row">
        <input class="input-nw" type="text" name="" id="" placeholder="Nueva Tarea">
        <button class="add-button">+</button>
    </form>
    <ul class="ItemGroup">
        <li class="Item"><input type="checkbox" class="checkBoxItem" name="" id="">Buy something silly</li>
        <li class="Item"><input type="checkbox" class="checkBoxItem" name="" id="">Buy something silly</li>
        <li class="Item"><input type="checkbox" class="checkBoxItem" name="" id="">Buy something silly</li>
        <li class="Item"><input type="checkbox" class="checkBoxItem" name="" id="">Buy something silly</li>
    </ul>
</div>
